[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
e1839a8 = {path = ".",editable = true}

[dev-packages]
"f5-sdk" = "*"
pytest = "*"
pytest-cov = "*"
black = "==19.10b0"
mypy = "*"
isort = "*"

[requires]
python_version = "3.6"

[scripts]
tests = "bash -c 'py.test --lb $LB --pass $PASS'"
unittests = "bash -c 'py.test --lb $LB --pass $PASS ./tests/unit'"
functests = "bash -c 'py.test --lb $LB --pass $PASS ./tests/functional'"
